<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ng-file-upload to CF server</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <script>
   
    var myApp = angular.module('includeExample', ['ui.bootstrap']);
 
    myApp.controller('parentCtrl', function($scope) {
      $scope.scopeVar = 'parentCtrl -- example with ng-init';
      $scope.dt = {}; // object (container) for dates that will be propagated to the children controllers
    });
 
      myApp.controller('datePickerCtrl', function($scope) {
        $scope.dateOptions = {
          formatYear: 'yyyy',
          maxDate: new Date(2020, 5, 22),
          minDate: new Date(),
          startingDay: 1,
          ngModelOptions : {timezone: 'utc'}
        };
 
        $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
        $scope.format = $scope.formats[0];
        $scope.altInputFormats = ['M!/d!/yyyy'];
 
        $scope.openCloseStatus = {};
        $scope.openClose = function(fieldName) {
          $scope.openCloseStatus[fieldName] = !$scope.openCloseStatus[fieldName];
        };
      });
 
      myApp.controller('dateRangePickerCtrl', function($scope) {
        $scope.dateOptions = {
          formatYear: 'yyyy',
          //maxDate: new Date(2020, 5, 22),
          minDate: new Date(),
          startingDay: 1,
          ngModelOptions : {timezone: 'utc'}
        };
       
 
        $scope.dateToOptions = $scope.dateOptions;
 
        $scope.$watch('dt[dpFromName]',function(){
          $scope.dateToOptions.minDate = $scope.dt[$scope.dpFromName];
        });       
 
        $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
        $scope.format = $scope.formats[0];
        $scope.altInputFormats = ['M!/d!/yyyy'];
 
        $scope.openCloseStatus = {};
        $scope.openClose = function(fieldName) {
          $scope.openCloseStatus[fieldName] = !$scope.openCloseStatus[fieldName];
        };
      });
    </script>
</head>
<body ng-app="includeExample" ng-controller="parentCtrl">
    <div>
        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
   
        <h4>Popup</h4>
 
        <div class="row">
          <div class="col-md-6">
            <!-- <ng-include src="'datePicker'" ng-init="initVar = {'firstDate'}"> -->
            <ng-include src="'datePicker'" ng-controller="datePickerCtrl" ng-init="initVar = 'firstDate'">
          </div>
 
          <div class="col-md-6">
            <!-- <ng-include src="'datePicker'" ng-init="initVar = {'secondDate'}"> -->
            <ng-include src="'datePicker'" ng-controller="datePickerCtrl" ng-init="initVar = 'secondDate'">
          </div>
        </div>
 
      <div class="row">
        <ng-include src="'dateRangePicker'" ng-controller="dateRangePickerCtrl" ng-init="dpFromName='firstRangeDate'; dpToName='secondRangeDate'">
      </div>
 
    </div>
 
    <script type="text/ng-template" id="datePicker">
      {{initVar}} -- {{dt[initVar]}}
      <p class="input-group">
        <input type="text"
        class="form-control"
        uib-datepicker-popup="{{format}}"
        ng-model="dt[initVar]"
        is-open="openCloseStatus[initVar]"
        datepicker-options="dateOptions"
        ng-required="true"
       close-text="Close"
        alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openClose(initVar)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </script>
 
    <script type="text/ng-template" id="dateRangePicker">
      <div class="col-md-6">
          From :
          <p class="input-group">
            <input type="text"
            class="form-control"
            uib-datepicker-popup="{{format}}"
            ng-model="dt[dpFromName]"
            is-open="openCloseStatus[dpFromName]"
            datepicker-options="dateOptions"
            ng-required="true"
            close-text="Close"
            alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openClose(dpFromName)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
 
      <div class="col-md-6">
        To:
        <p class="input-group">
          <input type="text"
          class="form-control"
          uib-datepicker-popup="{{format}}"
          ng-model="dt[dpToName]"
          is-open="openCloseStatus[dpToName]"
          datepicker-options="dateToOptions"
          ng-required="true"
          close-text="Close"
          alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openClose(dpToName)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </script>   
 
</body>
</html>